name: Build and Run

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: install cppcheck static analysis
      run: sudo apt-get update && sudo apt-get install -y cppcheck

    - name: build sender
      run: g++ -Wall -Wextra --coverage -o sender Sender/*.cpp

    - name: build receiver
      run: g++ -Wall -Wextra --coverage -o receiver Receiver/*.cpp 
       
    - name: static analysis
      run: cppcheck --suppress='*:SenderTest/includes/catch.hpp' --enable=all --error-exitcode=1 .
     
    - name: sender test
      run: g++ -Wall -Wextra --coverage -o senderTest SenderTest/sender-test.cpp Sender/sender.cpp
    
    - name: receiver test
      run: g++ -Wall -Wextra --coverage -o receiverTest ReceiverTest/receiver-test.cpp Receiver/receiver.cpp
    
    - name: run
      run: ./sender | ./receiver
      
    - name: coverage report
      run: gcov -r *.cpp
